
.navbar {
    width: 100%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
}


.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.logo-machine {
    color: #f8f5f5; /* White color for "Machine" */
}

.logo-buddy {
    color: orange; /* Orange color for "Buddy" */
}


.navbar ul {
    display: flex;
    list-style-type: none;
    margin-bottom: 20px;  
}

.navbar ul li {
    margin: 15px;
}

.navbar ul a {
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 17px;
    font-weight: bold;
    color: #f8f5f5;
    position: relative;
    z-index: 1;
}

/* Create a line for the underline effect */
.navbar ul a::after {
    content: "";
    width: 0%;
    height: 4px; /* Thickness of the underline */
    position: absolute;
    bottom: 0; /* Position the line at the bottom */
    left: 0;
    background-color: #1565C0; /* Color of the underline */
    z-index: -1;
    transition: width 0.5s ease; /* Smooth transition for the effect */
    border-radius: 20px;
}

/* Expand the line on hover */
.navbar ul a:hover::after {
    width: 100%; /* Full width underline on hover */
}
